mavryc-app/mavryc-presentation.xcodeproj/xcuserdata/toddhopkinson.xcuserdatad/xcschemes/mavryc-presentation.xcscheme
mavryc-app/Pods/Pods.xcodeproj/xcuserdata/toddhopkinson.xcuserdatad/xcschemes/Alamofire.xcscheme
mavryc-app/Pods/Pods.xcodeproj/xcuserdata/toddhopkinson.xcuserdatad/xcschemes/Pods-mavryc-presentation.xcscheme
mavryc-app/Pods/Pods.xcodeproj/xcuserdata/toddhopkinson.xcuserdatad/xcschemes/SwiftyJSON.xcscheme
