<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>My Favorite Flights</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> My Favorite Flights</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <form action="/get-favorite-flights" method="post">
                    <div class="form-group">
                        <label>User Email</label>
                        <input type="text" class="form-control" name="email">
                    </div>
                    <div class="form-group">
                        <label>User Encoded Token</label>
                        <input type="text" class="form-control" name="token">
                    </div>
                    <button type="submit" class="btn btn-warning btn-lg">Search</button>
                </form>
            </div>
        </div>

    </div>

</div>
</body>
</html>