<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mavryc Technologies API</title>
</head>
<body>
    <h3>FLIGHT SEARCH</h3>
    <form action="/flight-search" method="POST">
        Origin City:
        <input type="text" placeholder="Origin City" name="origin">
        Destination City:
        <input type="text" placeholder="Destination City" name="destination">
        Price:
        <input type="number" placeholder="Min" name="min">
        <input type="number" placeholder="Max" name="max">
        <button type="submit">Search</button>
    </form>
</body>
</html>