<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mavryc Technologies API</title>
</head>
<body>

    <ul class="users">
        <% for(var i=0; i<users.length; i++) {%>
            <li class="user">
            <span><%= users[i].firstName %></span>
            <span><%= users[i].lastName %></span>
            </li>
        <% } %>
    </ul>

    <form action="/users" method="POST">
        <input type="text" placeholder="First Name" name="firstName">
        <input type="text" placeholder="Last Name" name="lastName">
        <button type="submit">Submit</button>
    </form>

</body>
</html>