<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mavryc Technologies API</title>
</head>
<body>
    <form action="/delete-user" method="POST">
        Delete User by Email:
        <input type="text" placeholder="User Email" name="email">
        <button type="submit">Delete</button>
    </form>
 
</body>
</html>