<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mavryc Technologies API</title>
</head>
<body>
    <form action="/find-user" method="POST">
        Search for a user by Email:
        <input type="text" placeholder="User Email" name="email">
        <button type="submit">Submit</button>
    </form>
 
</body>
</html>