<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mavryc Technologies API</title>
</head>
<body>
    <form action="/add-user" method="POST">
        First Name:<br/>
        <input type="text" placeholder="First Name" name="firstname"><br/>
        Last Name:<br/>
        <input type="text" placeholder="Last Name" name="lastname"><br/>
        Email:<br/>
        <input type="text" placeholder="Email" name="email"><br/>
        Password:<br/>
        <input type="password" placeholder="Password" name="password"><br/>
        Phone:<br/>
        <input type="number" placeholder="Phone" name="phone"><br/>
        Birthday:<br/>
        <input type="date" placeholder="Last Name" name="birthday"><br/>
        <button type="submit">Submit</button>
    </form>

</body>
</html>