<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mavryc Technologies API</title>
</head>
<body>
    <form action="/add-flight" method="POST">
        Has this flight already occured?
        <input type="checkbox" value="true">
        <input type="text" placeholder="Origin" name="origin">
        <input type="text" placeholder="Destination" name="destination">
        Departure time:
        <input type="time" name="departuretime">
        Arrival time:
        <input type="time" name="arrivaltime">
        <input type="number" placeholder="Distance" name="distance">
        <input type="number" placeholder="Cost" name="cost">
        <button type="submit">Submit</button>
    </form>

</body>
</html>